[Unit]
Description=MFA Sidecar (Authelia)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=mfa_sidecar
Group=mfa_sidecar
EnvironmentFile=-/etc/mfa-sidecar/mfa-sidecar.env
ExecStart=/opt/yunohost/mfa_sidecar/bin/authelia --config /etc/mfa-sidecar/authelia/configuration.yml
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/etc/mfa-sidecar /var/lib/mfa_sidecar /opt/yunohost/mfa_sidecar/run
UMask=0027
WorkingDirectory=/opt/yunohost/mfa_sidecar

[Install]
WantedBy=multi-user.target
